#root{
    font-family: elms sans, inter, space grotesk, sans-serif;
    overflow-y: scroll;
}
/* #root{
    font-family: roboto flex, sans-serif;
    overflow-y: scroll;
} */
.card {
  transition: all 0.25s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 10px 24px rgba(0,0,0,0.15) !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}